@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=block");

:root {
	--bg: #000000;
	--text: #ffffff;
	--subtext: #a3a3a3;
	--link: #e7e7e7;
	--success: #00ff88;
	--warning: #ffaa00;
	--error: #ff4466;
	--none: #ffffff;
	--card: rgba(255, 255, 255, 0.01);
	--glass-border: rgba(255, 255, 255, 0.1);
	--accent: 255, 255, 255;
	--accent-dark: 189, 189, 189;
}

body {
	margin: 0;
	font-family:
		"Inter",
		"Segoe UI",
		-apple-system,
		BlinkMacSystemFont,
		sans-serif;
	background: linear-gradient(135deg, #000000 0%, #111111 50%, #000000 100%);
	color: var(--text);
	min-height: 100vh;
	margin-bottom: 35px;
}

header {
	padding: 1.5rem 0 0 0;
}

main {
	flex: 1;
}

footer {
	padding-bottom: 2rem;
	text-align: center;
	font-size: 0.85rem;
	color: var(--subtext);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: transparent;
}

footer p {
	margin: 0.5rem 0;
}
